@mixin transition($props, $duration) {
  $transition-string: '';
  @each $i in length($props) {
    @if $i == length($props) {
      $transition-string: $transition-string + ' ' + $duration;
    } @else {
      $transition-string: $transition-string + ' ' + $duration + ', ';
    }
  }

  -webkit-transition: #{$transition-string};
  -moz-transition: #{$transition-string};
  -ms-transition: #{$transition-string};
  -o-transition: #{$transition-string};
  transition: #{$transition-string};
}